<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons::head"></head>

<body class="d-flex flex-column" id="body">

<header th:replace="fragments/commons::nav"></header>

<div class="container">
    <br>
    <h2 class="text-center">Change Password</h2>
    <br>
    <div class="card">
        <br>
        <form th:action="@{/users/user-details/changePassword}"
              th:method="POST"
              th:object="${changePasswordBindingModel}"
              class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">

            <div class="form-group">
                <label for="newPassword" class="font-weight-bold">New Password</label>
                <input
                        id="newPassword"
                        name="newPassword"
                        type="password" min="2"
                        max="20" class="form-control"
                        placeholder="New Password"/>
            </div>
            <div class="form-group">
                <label for="confirmPassword" class="font-weight-bold">Password</label>
                <input
                        id="confirmPassword"
                        name="confirmPassword"
                        type="password" min="2"
                        max="20" class="form-control"
                        placeholder="Confirm Password"/>
            </div>
            <div>
                <small th:if="${notMatch}" id="confirmPasswordError"
                       class="form-text bg-danger rounded text-white">error</small>
            </div>
            <button class="btn btn-secondary" type="submit">Change</button>
        </form>
        <br>
        <br>
    </div>
</div>
<br>
<br>
<br>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>