<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/commons::head"></head>

<body class="d-flex flex-column" id="body">

<header th:replace="fragments/commons::nav"></header>
<br>
<br>
<div class="container">
    <div class="card">
    <h1 class="text-center text-dark mt-5">Requests Statistics:</h1>
    <h3 class="text-center text-dark mt-5">Total requests
        <th:block th:text="${stats.getTotalRequests()}"></th:block>
    </h3>
    <h3 class="text-center text-dark mt-5">Anonymous requests
        <th:block th:text="${stats.getAnonRequests()}"></th:block>
    </h3>
    <h3 class="text-center text-dark mt-5">Authorized requests
        <th:block th:text="${stats.getAuthRequests()}"></th:block>
    </h3>
        <br>
        <br>
    </div>
</div>
<footer class="mt-auto" th:replace="fragments/commons::footer"></footer>
</body>
</html>
</body>
</html>