<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/commons::head"></head>

<body class="d-flex flex-column" id="body">

<header th:replace="fragments/commons::nav"></header>
<br>
<h2 class="text-center">All Users</h2>
<div class="container m-md-auto">
    <table class="table table-striped table-dark rounded">
        <thead>
        <tr class="text-muted">
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Is Active</th>
            <th scope="col" >Roles</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="u : ${users}" th:object="${u}">

            <th scope="row" th:text="*{id}"></th>
            <td><a class="btn text-warning" th:text="*{username}" th:href="@{/users/{id}/users-details(id=*{id})}"></a>
            </td>
            <td th:text="*{isActive()}"></td>
            <td>
                <div class="row justify-content-md-center">
                    <p class="text-danger"

                       th:text="*{roles}"></p>
                </div>
            </td>

        </tr>

        </tbody>
    </table>

</div>
<br>


<br>
<br>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>